Flask==2.2.1
Flask-Cors==3.0.10
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
numpy==1.23.1
pandas==1.4.3
psycopg2==2.9.5
python-dotenv==0.21.0
scikit-learn==1.1.2
sklearn==0.0
SQLAlchemy==1.4.40
xgboost==1.6.1
gunicorn==20.0.4
